<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEO sERVER</title>
</head>
<body>
    <h1>Video server</h1>
    <h6>How to use</h6>
    <p>UPLOADiNG VIDEO</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam voluptates expedita minima laborum in harum assumenda, temporibus magni sit architecto?</p>
</body>
</html>