<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SIGNIN</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>SIGNIN</h1>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <label for="" class="form-label">EMAIL</label>
                            <input type="email" name="" id="email">
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Password</label>
                            <input type="password" id="password">
                        </div>
                        <button class="btn btn-primary" onclick="signin()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
    function signin() {
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    fetch('http://localhost:3000/signin', { 
        method: 'post',
     headers: { 'Content-Type': 'application/json'} , 
     body:JSON.stringify({email:email, password:password}) })
        .then(res => res.json())
        .then(json => {
            console.log(json);
        })
        .catch(err => {
            console.log(err);
        })
}
    </script>
</html>
